*.orig
*.rej
.config/st/config.h
.config/st/st
.config/st/st.o
.config/st/x.o
.config/tabbed/config.h
.config/tabbed/tabbed
.config/tabbed/tabbed.o
.config/tabbed/xembed
.config/tabbed/xembed.o
.config/dwm/config.h
.config/dwm/drw.o
.config/dwm/dwm
.config/dwm/dwm.o
.config/dwm/util.o
