* {
    bg-col:  #222436;
    bg-col-light: #3B3F5E;
    border-col: #3B3F5E;
    selected-col: #3B3F5E;
    blue: #c8d3f5;
    fg-col: #9599BC;
    fg-col2: #E5EAFA;
    grey: #7277A6;
    // width: 800;
}
