(
    selected_tab: Some("#82aaff"),
    command_fg: Some("#1d3b53"),
    selection_bg: Some("#82aaff"),
    selection_fg: Some("#282c34"),
    cmdbar_bg: Some("#82aaff"),
    cmdbar_extra_lines_bg: Some("#82aaff"),
    disabled_fg: Some("#7c8f8f"),
    diff_line_add: Some("#21c7a8"),
    diff_line_delete: Some("#ff5874"),
    diff_file_added: Some("#21c7a8"),
    diff_file_removed: Some("#ff5874"),
    diff_file_moved: Some("#ae81ff"),
    diff_file_modified: Some("#ecc48d"),
    commit_hash: Some("#ff5874"),
    commit_time: Some("#ecc48d"),
    commit_author: Some("#21c7a8"),
    danger_fg: Some("#ff5874"),
    push_gauge_bg: Some("#21c7a8"),
    push_gauge_fg: Some("#1d3b53"),
    tag_fg: Some("#82aaff"),
    branch_fg: Some("#d6deeb"),
    line_break: Some("¶"),
    block_title_focused: Some("#82aaff")
)
