(
    selected_tab: Some("#8cf8f7"),
    command_fg: Some("#07080d"),
    selection_bg: Some("#9b9ea4"),
    selection_fg: Some("#07080d"),
    cmdbar_bg: Some("#8cf8f7"),
    cmdbar_extra_lines_bg: Some("#a6dbff"),
    disabled_fg: Some("#9b9ea4"),
    diff_line_add: Some("#b3f6c0"),
    diff_line_delete: Some("#ffc0b9"),
    diff_file_added: Some("#b3f6c0"),
    diff_file_removed: Some("#ffc0b9"),
    diff_file_moved: Some("#fce094"),
    diff_file_modified: Some("#8cf8f7"),
    commit_hash: Some("#ffc0b9"),
    commit_time: Some("#fce094"),
    commit_author: Some("#b3f6c0"),
    danger_fg: Some("#ffc0b9"),
    push_gauge_bg: Some("#b3f6c0"),
    push_gauge_fg: Some("#07080d"),
    tag_fg: Some("#8cf8f7"),
    branch_fg: Some("#8cf8f7"),
    line_break: Some("¶"),
    block_title_focused: Some("#8cf8f7")
)
