(
    selected_tab: Some("#dee3e9"),
    selection_bg: Some("#51ffff"),
    selection_fg: Some("#13171b"),
    command_fg: Some("#13171b"),
    cmdbar_bg: Some("#dee3e9"),
    cmdbar_extra_lines_bg: Some("#dee3e9"),
    disabled_fg: Some("#999fa4"),
    diff_line_add: Some("#94ffad"),
    diff_line_delete: Some("#ffaea6"),
    diff_file_added: Some("#94ffad"),
    diff_file_removed: Some("#ffaea6"),
    diff_file_moved: Some("#fce094"),
    diff_file_modified: Some("#51ffff"),
    commit_hash: Some("#94ffad"),
    commit_time: Some("#ffaea6"),
    commit_author: Some("#fce094"),
    danger_fg: Some("#ffaea6"),
    push_gauge_bg: Some("#94ffad"),
    push_gauge_fg: Some("#13171b"),
    tag_fg: Some("#51ffff"),
    branch_fg: Some("#fce094"),
    line_break: Some("¶"),
    block_title_focused: Some("#dee3e9")
)
